## Homework 3

Використовуючи файл `population_prospects.csv`, створіть карти, котрі відповідають на наступні питання:

- В яких країнах світу населення у 2100 році буде більшим, ніж було у 2000 році, а в яких меншим?

- На скільки відсотків збільшиться або зменшиться населення кожної країни у 2100 році у порівнянні з 2000 роком?

- Яким буде населення країн світу у 2100 році?

У наборі даних ви знайдете декілька прогнозів щодо зростання / скорочення населення країн світу (змінна `variant`). Для фактичних історичних даних (2000 рік) ви можете використовувати значення `Estimates`, для прогнозних даних (2100 рік) ви можете використовувати значення `Medium variant`.

Ви можете використовувати файл `world-countries.json` або будь-який інший файл з геоданими, котрий вам підходить для цієї задачі. Ви можете використовувати будь-який доступний вам інструмент візуалізації даних.

Ви маєте також у невеличкому супровідному тексті обґрунтувати вибір типу карти / типу кольорової шкали, пояснити його сильні та слабкі сторони для поставленої задачі.

In [1]:
# !pip3 install geopandas
import altair as alt
import pandas as pd
import geopandas as gpd
alt.renderers.enable('default')

RendererRegistry.enable('default')

### 1. Data exploration

In [2]:
geo_df = gpd.read_file('./world-countries.json')
geo_df.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        177 non-null    object
 1   name      177 non-null    object
 2   geometry  177 non-null    geometry
dtypes: geometry(1), object(2)
memory usage: 4.3+ KB

In [3]:
geo_df.head(10)

,id,name,geometry
0,AFG,Afghanistan,"POLYGON ((61.21082 35.65007, 62.23065 35.27066..."
1,AGO,Angola,"MULTIPOLYGON (((16.32653 -5.87747, 16.57318 -6..."
2,ALB,Albania,"POLYGON ((20.59025 41.85540, 20.46317 41.51509..."
3,ARE,United Arab Emirates,"POLYGON ((51.57952 24.24550, 51.75744 24.29407..."
4,ARG,Argentina,"MULTIPOLYGON (((-65.50000 -55.20000, -66.45000..."
5,ARM,Armenia,"POLYGON ((43.58275 41.09214, 44.97248 41.24813..."
6,ATA,Antarctica,"MULTIPOLYGON (((-59.57209 -80.04018, -59.86585..."
7,ATF,French Southern and Antarctic Lands,"POLYGON ((68.93500 -48.62500, 69.58000 -48.940..."
8,AUS,Australia,"MULTIPOLYGON (((145.39798 -40.79255, 146.36412..."
9,AUT,Austria,"POLYGON ((16.97967 48.12350, 16.90375 47.71487..."

In [4]:
df = pd.read_csv('./population_prospects.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188000 entries, 0 to 187999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   variant       188000 non-null  object
 1   country       188000 non-null  object
 2   country_code  188000 non-null  int64
 3   parent_code   188000 non-null  int64
 4   year          188000 non-null  int64
 5   population    188000 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 8.6+ MB

In [5]:
df.head(10)

     variant     country  country_code  parent_code  year  population
0  Estimates     Burundi           108          910  1950    2308.927
1  Estimates     Comoros           174          910  1950     159.459
2  Estimates    Djibouti           262          910  1950      62.000
3  Estimates     Eritrea           232          910  1950     822.347
4  Estimates    Ethiopia           231          910  1950   18128.030
5  Estimates       Kenya           404          910  1950    6076.757
6  Estimates  Madagascar           450          910  1950    4083.548
7  Estimates      Malawi           454          910  1950    2953.871
8  Estimates   Mauritius           480          910  1950     493.258
9  Estimates     Mayotte           175          910  1950      15.138

In [6]:
df['variant'].unique()

array(['Estimates', 'Medium variant', 'High variant', 'Low variant',
       'Constant-fertility', 'Instant-replacement', 'Momentum',
       'Zero-migration', 'Constant-mortality', 'No change'], dtype=object)

### 2. Data preprocessing

In [7]:
https://github.com/unexpectedjourney/data-visualization/blob/main/assignment-4/main.ipynb

SyntaxError: invalid syntax (2067697595.py, line 1)