##### Import needed libraries and set needed options

In [14]:
import altair as alt
import pandas as pd
import numpy as np
import geopandas as gpd

pd.set_option('display.max_colwidth', None)

# Final project for Visualization course UCU

# 1. Data investigation

In [15]:
df = pd.read_csv('./data/cleaned_covid_data.csv.zip')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20101540 entries, 0 to 20101539
Data columns (total 6 columns):
 #   Column                       Dtype
---  ------                       -----
 0   Age_group                    object
 1   Gender                       object
 2   Vaccination_sequence_number  int64
 3   Vaccination_needed_doses     int64
 4   Medical_care                 object
 5   Region                       object
dtypes: int64(2), object(4)
memory usage: 920.2+ MB

In [17]:
df.head()

,Age_group,Gender,Vaccination_sequence_number,Vaccination_needed_doses,Medical_care,Region
0,46-50,Female,2,1,First aid,Chernihiv
1,46-50,Male,2,1,First aid,Chernihiv
2,26-30,Female,2,1,First aid,Chernihiv
3,36-40,Male,2,1,First aid,Chernihiv
4,46-50,Male,2,1,First aid,Chernihiv

In [18]:
df.isna().sum()

Age_group                      0
Gender                         0
Vaccination_sequence_number    0
Vaccination_needed_doses       0
Medical_care                   0
Region                         0
dtype: int64

In [19]:
df['Age_group'].value_counts()

36-40    2159576
41-45    2066320
31-35    2038502
46-50    2024649
56-60    1922248
51-55    1864994
61-65    1718556
26-30    1555987
66-70    1296460
21-25    1233549
71-75     842152
16-20     698529
76-80     339168
81-85     253743
86-90      51242
11-15      16593
91-95      15516
96+         2247
5-10         913
0-4          596
Name: Age_group, dtype: int64

In [20]:
df['Gender'].value_counts()

Female    11487123
Male       8614417
Name: Gender, dtype: int64

In [21]:
df['Vaccination_sequence_number'].value_counts()

1     11918735
2      8147519
3         8570
4         5858
5         5613
6         4740
7         2783
8         2696
9         2574
10        2452
Name: Vaccination_sequence_number, dtype: int64

In [23]:
df['Vaccination_needed_doses'].value_counts()

2     19935767
1       159808
3         1981
5         1679
10        1232
6          718
4          282
9           32
7           22
8           19
Name: Vaccination_needed_doses, dtype: int64

In [24]:
df['Medical_care'].value_counts()

First aid          17831778
Specialized aid     2269762
Name: Medical_care, dtype: int64

In [25]:
df['Region'].value_counts()

Kyiv City           2683073
Dnipropetrovs'k     1839391
Kharkiv             1389325
L'viv               1318493
Kyiv                1165161
Odesa               1152187
Poltava              857821
Zaporizhzhya         794943
Donets'k             735379
Vinnytsya            733631
Cherkasy             657155
Zhytomyr             615998
Sumy                 609034
Khmel'nyts'kyy       606784
Ivano-Frankivs'k     554413
Chernihiv            532703
Mykolayiv            531729
Kherson              491017
Rivne                480094
Ternopil'            459859
Transcarpathia       407456
Kirovohrad           401820
Volyn                401602
Chernivtsi           377237
Luhans'k             305235
Name: Region, dtype: int64

# 2. Data Preparation