##### Import needed libraries and set needed options

In [1]:
import altair as alt
import pandas as pd
import numpy as np
import geopandas as gpd

pd.set_option('display.max_colwidth', None)

# Final project for Visualization course UCU

# 1. Data investigation

In [2]:
df = pd.read_csv('./data/cleaned_covid_data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19527207 entries, 0 to 19527206
Data columns (total 7 columns):
 #   Column                       Dtype
---  ------                       -----
 0   Age_group                    object
 1   Gender                       object
 2   Vaccination_sequence_number  int64
 3   Vaccination_phase            int64
 4   Vaccination_needed_doses     int64
 5   Medical_care                 object
 6   Region                       object
dtypes: int64(3), object(4)
memory usage: 1.0+ GB

In [4]:
df.head()

,Age_group,Gender,Vaccination_sequence_number,Vaccination_phase,Vaccination_needed_doses,Medical_care,Region
0,46-50,Female,2,1,1,First aid,Chernihiv
1,26-30,Female,2,1,1,First aid,Chernihiv
2,36-40,Male,2,1,1,First aid,Chernihiv
3,46-50,Male,2,1,1,First aid,Chernihiv
4,41-45,Male,1,1,2,First aid,Zhytomyr

In [5]:
df.isna().sum()

Age_group                      0
Gender                         0
Vaccination_sequence_number    0
Vaccination_phase              0
Vaccination_needed_doses       0
Medical_care                   0
Region                         0
dtype: int64

In [6]:
df['Age_group'].value_counts()

36-40    2097774
41-45    2007185
31-35    1980090
46-50    1966861
56-60    1867553
51-55    1811724
61-65    1669859
26-30    1511667
66-70    1259659
21-25    1198203
71-75     818364
16-20     678186
76-80     329457
81-85     246067
86-90      49719
11-15      16091
91-95      15094
96+         2184
5-10         888
0-4          582
Name: Age_group, dtype: int64

In [7]:
df['Gender'].value_counts()

Female    11158648
Male       8368559
Name: Gender, dtype: int64

In [8]:
df['Vaccination_sequence_number'].value_counts()

1     11589593
2      7903401
3         8331
4         5708
5         5472
6         4587
7         2680
8         2601
9         2471
10        2363
Name: Vaccination_sequence_number, dtype: int64

In [9]:
df['Vaccination_phase'].value_counts()

1    7252258
5    5845567
2    5005049
3     870333
4     554000
Name: Vaccination_phase, dtype: int64

In [10]:
df['Vaccination_needed_doses'].value_counts()

2     19371659
1       149884
3         1932
5         1669
10        1117
6          614
4          275
9           24
7           18
8           15
Name: Vaccination_needed_doses, dtype: int64

In [11]:
df['Medical_care'].value_counts()

First aid          17320824
Specialized aid     2206383
Name: Medical_care, dtype: int64

In [12]:
df['Region'].value_counts()

Kyiv City           2609359
Dnipropetrovs'k     1786739
Kharkiv             1350748
L'viv               1279913
Kyiv                1132498
Odesa               1118971
Poltava              833845
Zaporizhzhya         772089
Donets'k             715039
Vinnytsya            712712
Cherkasy             638112
Zhytomyr             598345
Sumy                 591403
Khmel'nyts'kyy       588767
Ivano-Frankivs'k     537413
Chernihiv            517601
Mykolayiv            516421
Kherson              476657
Rivne                465955
Ternopil'            446144
Transcarpathia       395465
Kirovohrad           390107
Volyn                389918
Chernivtsi           366120
Luhans'k             296866
Name: Region, dtype: int64

# 2. Data Preparation